body { width: 100%; text-align: center; }
.wrapper { width: 960px; margin: 0 auto; text-align: left; }

pre { background: #CCC; color: #333; white-space: no-wrap; padding: 10px; width: 960px; overflow-x: auto;}
span { font-family: Helvetica, Arial, sans-serif; }

.oasis-chex-container { position: relative; }
#oasis-chex-items { display:none; position: absolute; top: 100%; left: 0; width: 495px; max-height: 300px; min-height: 100px; overflow-x: hidden; overflow-y: auto; background: #FFF; border: 1px solid #CCC; box-shadow: 0 0 12px #666; }
.oasis-chex-item { padding: 5px; border: 1px solid #EAEAEA; box-shadow: 0 0 1px #333; float: left; min-width: 235px}
.oasis-chex-item.selected { background: #ABE850; color: #333; cursor: pointer; }
.oasis-chex-item:hover { background: #ABE850; color: #333; text-shadow: 0 0 1px #999; cursor: pointer; opacity: 0.8;}

.oasis-chex-title { background: none repeat scroll 0 0 #ABE850; color: #333333; font-family: Helvetica; font-weight: bold; padding: 8px;}
.oasis-chex-button { background: #ABE850; color: #333; padding: 3px 5px; border: 1px solid #339933; box-shadow: 1px 1px 1px #CCFFCC inset; border-radius: 4px; color: #333; font-family: Helvetica, sans-serif; font-variant: small-caps; color: #0033300 }
.oasis-chex-button:hover { background: #91CE36; color: #000; cursor: pointer; }

#oasis-chex-closer { position: absolute; top: 8px; right: 8px; color: #990000; font-family: 'Times New Roman', sans-serif; font-size: 14px; text-transform: lowercase; cursor: pointer;}

.no-float { clear: both; overflow: hidden; }
.no-float input { float: left; clear: left; }
.no-float label { float: left; clear: none; }

.oasis-chex-group { background: #ABE850; border: #ABE850; border-radius: 4px 4px 4px 4px; float: left; padding: 3px 8px;margin: 3px; list-style-type: none; cursor:pointer; opacity: 0.5; }
.oasis-chex-group:hover { background: #91CE36; } 
.oasis-chex-group.selected { background: #91CE36; opacity: 1; }
.oasis-chex-group-bar { float: left; clear: both; width: 100%; }

#oasis-chex-display { overflow: hidden; margin-top: 5px; }
.oasis-chex-display-item { background: #ABE850; box-shadow: 0 0 3px #333333; color: #333333; float: left; font-family: Helvetica; font-size: 13px; margin: 0 5px 5px 0; padding: 3px 5px;}